body {
    background-color: #222;
    font-size: 14px;
    /* font-family: 'Microsoft YaHei UI'; */
}

/* textarea {
    background-color: #222;
    color: rgb(60, 255, 148);
    font-size: 14px;
    font-family: 'Microsoft YaHei UI';
    border: 1px solid rgb(255, 165, 61);
    border-radius: 2px;
    padding-left: 4px;
} */

div {
    width: 320px;
    height: 120px;
    border: 1px solid rgb(255, 165, 61);
    border-radius: 2px;
    padding-left: 8px;
}

p {
    background-color: #222;
    margin: 0;
    padding: 0;
}

.haomaClass {
    color: rgb(255, 236, 130);
}

/* .zhijiejiaClass{
    color: rgb(109, 0, 0);
} */

.fengexianClass {
    color: rgb(255, 161, 235);
}

.suanhoujiaClass {
    color: rgb(255, 122, 122);
}

.jianClass {
    color: rgb(92, 252, 185);
}

.shihangClass {
    color: rgb(68, 249, 255);
}

span {
    color: rgb(255, 165, 61);
}

input {
    width: 70px;
    height: 30px;
    font-size: 16px;
    text-align: center;
    color: rgb(255, 165, 61);
    background-color: #222;
    border: 1px solid rgb(255, 165, 61);
    border-radius: 4px;
    margin: 6px 4px 0 0;
}

button {
    width: 128px;
    height: 40px;
    font-size: 18px;
    color: rgb(255, 165, 61);
    background-color: #222;
    border: 1px solid rgb(255, 165, 61);
    border-radius: 4px;
    margin: 6px 0 0 10px;
}

a {
    color: rgb(255, 165, 61);
    margin: 6px 0 0 20px;
    text-decoration: none;
    display: block;
}

.konghangClass {
    margin-bottom: 1024px;
    display: block;
}